.container {
  padding: 0 10px;

  nav {
    position: sticky;
    top: 0;
    height: 80px;
    padding: 0 10px;
    background-color: var(--main-color);
    display: flex;
    align-items: center;
    gap: 10px;
    z-index: 99;

    img {
      width: 32px;
      height: 32px;
    }

    ul {
      display: flex;
      gap: 10px;
      margin-left: auto;

      li {
        cursor: pointer;

        &:hover,
        &.active {
          color: #ff0;
        }
      }
    }
  }

  .mask {
    position: fixed;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: radial-gradient(#fe1e08, #810101);
    z-index: 99;
  }

  table {
    width: 100%;
    border-collapse: collapse;
    position: sticky;
    top: 80px;
    font-size: 15px;

    thead {
      tr {

        th {
          position: sticky;
          top: 80px;
          background-color: var(--main-color);
          text-align: left;
          cursor: pointer;
          line-height: 2;
        }
      }
    }

    @media screen and (max-width:768px) {

      th:nth-child(n+4),
      td:nth-child(n+4) {
        display: none;
      }
    }
  }

  .item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    line-height: 2;
  }
}