.container {
  padding: 0 10px;

  nav {
    position: sticky;
    top: 0;
    height: 80px;
    background-color: #fff;
    display: flex;
    align-items: center;
    gap: 10px;
    z-index: 99;

    ul {
      display: flex;
      gap: 10px;
      margin-left: auto;

      li {
        cursor: pointer;

        &:hover,
        &.active {
          color: var(--main-color);
        }
      }
    }
  }

  table {
    width: 100%;
    border-collapse: collapse;

    h2 {
      padding: 20px 0;
    }

    thead {
      tr {

        th {
          position: sticky;
          top: 80px;
          background-color: #fff;
          text-align: left;
          cursor: pointer;
          line-height: 2;
        }
      }
    }

    @media screen and (max-width:768px) {

      th:nth-child(n+4),
      td:nth-child(n+4) {
        display: none;
      }
    }
  }

  .item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    line-height: 2;
  }
}